body {
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.0;
    height:100%;
    background: #1a1a1a;
    color: #ff5b5b;;
}

input {
    color:green;
    background: #000;
    font-size: 1.2em;
    padding: 4px;
    padding: 0.2em 0.5em;
    border-radius: 0.12em;
    font-family: 'Roboto', sans-serif;
    margin: 0 0.3em 0.3em 0;    
}

a:link {
    color: white;
}

a:visited {
    color: #b8bcff;
}

hr {
    color: #ff5b5b;
}

select {
    height: 28px;
    font-size: 1.1em;
    margin: 4px;
}

.debug_border1 {
    border:1px solid red;
}

.debug_border2 {
    border:1px solid blue;
}

.debug_border3 {
    border:1px solid green;
}

.debug_border4 {
    border:1px solid yellow;
}

.page { 
    border:0px solid black;    
}

.main_menu {
    border:0px solid #ff5b5b;
    /* background-color: activeborder;*/
    margin-bottom: 1%;
}

button {
    padding:10px;
}

.videocontent {
    max-width: 300px;
    padding:10px;
    border:1px solid #ff5b5b;    
}

.wrapper {
    width: 200px;
    padding:10px;
    border:1px solid blue;
}

.center_box {
    border:0px solid black;
    padding: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile_box {
    border:0px solid yellowgreen;
    float: right;
    width: 150px;
    height: 150px;
    margin: 5px;
    text-align: center;
    top: 50%;
}

.divTable{
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    border: 1px solid #ff5b5b;
    display: table-cell;
    padding: 1%;
    max-width: 0vh;
    /* vertical-align:top; */
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.divTableCellEpisodes {
    border:0px solid #ff5b5b;
    display: table-cell;
    padding-left: 10px;
}

.divTableCellEpisodes:first-of-type {
    width:0px;
    text-align: right;
    padding:0px;
}

.divTableID {
    display: table;  
    border-collapse: collapse;
}

.divTableCellID {
    display: table-cell;
    border: 0px solid #ff5b5b;    
}

.divTableCellID:last-of-type {

}

.display {
    display: grid;
    border:0px solid #ff5b5b;
    text-align:center;
    object-fit: cover;
}

.poster_preview{
    display: inline-block;
    text-align: center; 
}

.img_poster_preview {
    height: auto;
    width: 100%;
    max-width:200px;
}

.item_details {
    border:0px solid blue;
}

.item_title {
    margin: 4px;
}

.item_desc {}

.item_source, .item_size, .item_download, .item_rating {
    background-color: #06001c;
}

.item_size {}

.item_links {

}
.menu_element {
    border:0px solid blue;
    display:inline-block;
    padding: 10px;
    margin: 5px;
    background: darkcyan;
    font-size:1.5em;
    font-weight:bold;
}

.menu_element href {
    text-decoration: none;
}

.submit_btn {
    display: inline-block;
    border: 0.1em solid #FFFFFF;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    padding: 5px;
}

.submit_btn:hover{
    color: #000000;
    background-color: #FFFFFF;
}
.footer {
    border:0px solid black;
    padding: 4px;
    text-align: right;
}

/* VIEW PAGE */
.view_page {
    border:1px solid #ff5b5b;
    padding:4px;    
}

.view_content {
    display:flex;
    flex-wrap: nowrap;
}

.view_poster {
    height: auto;
    border:0px solid yellow;
    width: 300px;
    margin-right: 4px;
}

.view_poster_container {
    border:0px solid blue;
    padding-left:2%;
}

.view_description_container img {
    width: 100%;

}

.view_description_container {  
    border:5px solid black;
    width: 100%;
    padding: 10px;
    padding-right: 2%;
}

.view_description_container h2 {
    font-size: 2em;
}
.view_plot {
    border:0px solid blueviolet;
    width: 100%;
    font-size:1.2em;
}

.view_extra {
    border:0px solid black;
    width:100%;
}

.library_options {
    border:0px solid blueviolet;
    padding: 4px;
    padding-top: 10px;
}

.search_container {    
    width: 100%;
}

.search_tag {
    display: inline;
    padding: 4px;
    width: 125px;
    text-align: right;
    border:0px solid blue;
}

.search_box {
    display: inline;
    padding: 4px;
    width: 150px;
    border:0px solid #ff5b5b;
}

.search_box input {
    width: 250px;
}

.search_btn {
    border:0px solid blue;
    padding: 4px;
}

.num_pages_link, .submit_link, .num_pages_link_selected {
    font-weight: 900;
    border:1px solid black;
    background-color: #937c00;
    padding: 7px 20px 7px 20px;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 4px;
}

.submit_link {
    display:block;
    width: max-content;
}

.num_pages_link_selected {
    background-color: aqua;
}

.view_download {
    margin-top: 15px;
}

.library_options form {
    display:inline;
}

.type_head_container{
    width: 100%;
    padding-right: 4%;
}

.type_head {
    display:inline-flex;
}

.type_pages_numbers {
    display:inline-flex;
}

.error_container {
    margin: 5% 15% 5% 15%;    
    border: 1px solid blue;
    text-align: center;
    padding: 20% 0% 20% 0%;
}

.error_title {
    font-weight: bold;
    font-size: 1.4em;
}

.error_body {
    font-size: 1.2em;
}

.wanted_page {
    width: 100%;
}

.wanted_title {
    font-weight: bold;
}

.wanted_list_container {

}

.wanted_list_row {
    padding: 10px 1px 10px 1px;
    border:1px solid #ff5b5b;    
    margin: 0px 0px 6px 0px;
}

.wanted_add_container {}

.wanted_details {
    margin: 4px;
    padding: 5px;
}

.tag_quality, .tag_type, .tag_day, .tag_id, .tag_added, .tag_state {
    border: 1px solid green;
}

.tag_title {
    border: 1px solid black;
    background: black;
    width: 5%;
}

.tag_ignore {
    border: 1px solid #ff5b5b;
}

.tag_quality, .tag_ignore, .tag_type, .tag_day, .tag_id, .tag_added, .tag_title, .tag_state {
    margin: 1px 2px 1px 2px;
    padding: 6px 10px 6px 10px;
}

.season_link {
    display: inline-flex;
    padding: 10px;
    border: 1px solid black;
    background: #3ea5ff;
    margin: 5px 5px 5px 1px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.episode_link {
    display: inline-flex;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 3px;
}

.ident_select {    
    width:300px;  
}

.action_link {
    display: inline-block;
    background: #ff5b5b;
    padding: 5px;
    text-decoration: none;
    color: black;
    border-radius: 0.12em;
    margin:3px;
}
.info_container {
    width: 400px;
}
.home_item_container {
    border:1px solid #ff5b5b;
    padding: 10px;
    border-collapse: collapse;
    /* width: min-content; */
}

.home_item_title {
    margin-bottom: 15px;
}

.profiles {
    display: inline-flex;
}

.profiles  a {
    font-size: 1.5em;
}

.harddisk, .database {}

.form_inline {
    display: inline;
}

.tor_name {
    border:0px solid #ff5b5b;
    background: black;
    padding: 3px;
}

.tor_tag {
    border: 1px solid blue;
    display: inline-flex;
    padding: 4px;
    margin: 4px;
}