body {
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    height:100%;
}

.page { 
    border:0px solid black;    
}

.main_menu {
    border:0px solid red;
    background-color: activeborder;

}

button {
    padding:10px;
}

.videocontent {
    max-width: 300px;
    padding:10px;
    border:1px solid red;    
}

.wrapper {
    width: 200px;
    padding:10px;
    border:1px solid blue;
}

.center_box {
    border:1px solid black;
    padding: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile_box {
    border:1px solid yellowgreen;
    float: right;
    width: 150px;
    height: 150px;
    margin: 5px;
    text-align: center;
    top: 50%;
}

.divTable{
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 4px;
    max-width: 0vh;
    /* vertical-align:top; */
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.display {
    display: grid;
    border:1px solid red;
    text-align:center;
    object-fit: cover;
}

.poster_preview{
    display: inline-block;
    text-align: center; 
}

.img_poster_preview {
    height: auto;
    width: 100%;
    max-width:200px;
}

.item_details {
    border:1px solid blue;
}

.menu_element {
    border:0px solid blue;
    display:inline-block;
    padding: 20px;
    margin: 5px;
    background: darkcyan;
    font-size:1.8em;
    font-weight:bold;
}

.menu_element href {
    text-decoration: none;

}

.tor_source_link {
    background-color: aquamarine;
}

.info_size {
    background-color: aquamarine;
}

.submit_btn {
    display: inline-block;
    padding: 1.2em 1.5em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: blue;
    text-align: center;
    transition: all 0.2s;
}

.submit_btn:hover{
    color: #000000;
    background-color: #FFFFFF;
}
.footer {
    border:0px solid black;
    padding: 4px;
    text-align: right;
}

/* VIEW PAGE */
.view_page {
    border:1px solid red;
    padding:4px;    
}

.view_content {
    display:flex;
    flex-wrap: nowrap;
}

.view_poster {
    height: auto;
    border:0px solid yellow;
    width: 350px;
}

.view_poster_container {
    border:1px solid blue;
    padding-left:5%;
}

.view_description_container img {
    width: 100%;

}

.view_description_container {  
    border:1px solid aqua;
    width: 100%;
    padding: 10px;
    padding-right: 10%;
}

.view_plot {
    border:1px solid blueviolet;
    width: 100%;
}

.view_extra {
    border:1px solid black;
    width:100%;
}

.library_options {
    border:1px solid blueviolet;
    padding: 4px;
    padding-top: 10px;
}

.search_container {    
    width: 100%;
}

.search_tag {
    display: inline;
    padding: 4px;
    width: 125px;
    text-align: right;
    border:0px solid blue;
}

.search_box {
    display: inline;
    padding: 4px;
    width: 150px;
    border:0px solid red;
}

.search_box input {
    width: 250px;
}

.search_btn {
    border:0px solid blue;
    padding: 4px;
}

.num_pages_link, .num_pages_link_selected {
    font-weight: 900;
    border:1px solid black;
    background-color: gray;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size: 1.5em;
    /* margin-left: 10px; */
}

.num_pages_link_selected {
    background-color: aqua;
}